<!--<div class="o-page o-page&#45;&#45;center">-->
  <!--<div class="o-page__card u-text-center">-->

    <!--<div class="">-->
      <!--<h3>Platform for stranded NYSC members to request for help and people to provide aid to them.</h3>-->
    <!--</div>-->

    <!--<div class="u-mb-large u-mt-xlarge">-->
      <!--<a [routerLink]="['/add-location']" class="c-btn c-btn&#45;&#45;fullwidth c-btn&#45;&#45;danger">ASK FOR HELP</a>-->
    <!--</div>-->


    <!--<div class="u-mt-medium">-->
      <!--<a [routerLink]="['/login']" class="c-btn c-btn&#45;&#45;fullwidth">OFFER HELP</a>-->
    <!--</div>-->
  <!--</div>-->

<!--</div>-->